# **Importing the Libraries**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# **Loading the Dataset**

In [2]:
data=pd.read_csv('/content/Admission_Predict.csv')

# **Analyze the data**

In [3]:
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

# **Training and Testing the model**

In [4]:
x=data.drop(['Chance of Admit '],axis=1) 
y=data['Chance of Admit ']

In [5]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.15)

In [6]:
x_train

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
295,296,317,100,2,3.0,2.5,8.57,0
75,76,329,114,2,2.0,4.0,8.56,1
224,225,305,105,2,3.0,2.0,8.23,0
344,345,295,96,2,1.5,2.0,7.34,0
353,354,300,102,3,3.5,2.5,8.17,0
...,...,...,...,...,...,...,...,...
134,135,333,113,5,4.0,4.0,9.28,1
358,359,314,105,2,2.5,2.0,7.64,0
183,184,314,110,3,4.0,4.0,8.80,0
338,339,323,108,5,4.0,4.0,8.74,1
52,53,334,116,4,4.0,3.0,8.00,1

In [7]:
y_train

295    0.68
75     0.72
224    0.67
344    0.47
353    0.63
       ...
134    0.89
358    0.70
183    0.75
338    0.81
52     0.78
Name: Chance of Admit , Length: 340, dtype: float64

In [8]:
x_test

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
67,68,316,107,2,3.5,3.5,8.64,1
283,284,321,111,3,2.5,3.0,8.90,1
11,12,327,111,4,4.0,4.5,9.00,1
365,366,330,114,4,4.5,3.0,9.17,1
253,254,335,115,4,4.5,4.5,9.68,1
117,118,290,104,4,2.0,2.5,7.46,0
163,164,317,105,3,3.5,3.0,8.56,0
106,107,329,111,4,4.5,4.5,9.18,1
243,244,325,114,3,3.5,3.0,9.04,1
212,213,338,120,4,5.0,5.0,9.66,1
125,126,300,100,3,2.0,3.0,8.66,1
370,371,310,103,2,2.5,2.5,8.24,0
175,176,320,111,4,4.5,3.5,8.87,1
77,78,301,99,2,3.0,2.0,8.22,0
369,370,301,98,1,2.0,3.0,8.03,1
299,300,305,112,3,3.0,3.5,8.65,0
312,313,311,107,4,4.5,4.5,9.00,1
47,48,339,119,5,4.5,4.0,9.70,0
282,283,312,106,3,4.0,3.5,8.79,1
15,16,314,105,3,3.5,2.5,8.30,0
330,331,327,113,3,3.5,3.0,8.66,1
235,236,326,111,5,4.5,4.0,9.23,1
188,189,331,115,5,4.5,3.5,9.36,1
381,382,319,105,3,3.0,3.5,8.67,1
304,305,313,106,2,2.5,2.0,8.43,0
239,240,299,100,1,1.5,2.0,7.89,0
286,287,336,118,5,4.5,4.0,9.19,1
114,115,311,105,3,3.5,3.0,8.45,1
308,309,312,108,3,3.5,3.0,8.53,0
302,303,322,105,2,3.0,3.0,8.45,1
186,187,317,107,3,3.5,3.0,8.68,1
277,278,320,101,2,2.5,3.0,8.62,0
305,306,321,109,3,3.5,3.5,8.80,1
26,27,322,109,5,4.5,3.5,8.80,0
387,388,307,105,2,2.0,3.5,8.10,0
335,336,325,111,4,4.0,4.5,9.11,1
34,35,331,112,5,4.0,5.0,9.80,1
242,243,324,115,3,3.5,3.0,8.76,1
225,226,296,99,2,2.5,2.5,8.03,0
255,256,307,110,4,4.0,4.5,8.37,0
333,334,319,108,3,3.0,3.5,8.54,1
105,106,316,110,3,4.0,4.5,8.78,1
275,276,322,110,3,3.5,3.0,8.96,1
322,323,314,107,2,2.5,4.0,8.27,0
121,122,334,119,5,4.5,4.5,9.48,1
287,288,324,114,5,5.0,4.5,9.08,1
177,178,319,110,3,3.5,3.5,9.04,0
357,358,301,104,2,3.5,3.5,7.89,1
300,301,309,106,2,2.5,2.5,8.00,0
254,255,321,114,4,4.0,5.0,9.12,0
148,149,339,116,4,4.0,3.5,9.80,1
118,119,296,99,2,3.0,3.5,7.28,0
38,39,304,105,1,3.0,1.5,7.50,0
40,41,308,110,3,3.5,3.0,8.00,1
325,326,326,116,3,3.5,4.0,9.14,1
119,120,327,104,5,3.0,3.5,8.84,1
355,356,317,106,2,2.0,3.5,8.12,0
62,63,304,105,2,3.0,3.0,8.20,1
10,11,325,106,3,3.5,4.0,8.40,1
126,127,323,113,3,4.0,3.0,9.32,1

In [9]:
y_test

67     0.57
283    0.80
11     0.84
365    0.86
253    0.93
117    0.45
163    0.68
106    0.87
243    0.76
212    0.95
125    0.64
370    0.72
175    0.85
77     0.64
369    0.67
299    0.71
312    0.78
47     0.89
282    0.81
15     0.54
330    0.80
235    0.88
188    0.93
381    0.73
304    0.62
239    0.59
286    0.92
114    0.59
308    0.69
302    0.65
186    0.84
277    0.70
305    0.74
26     0.76
387    0.53
335    0.83
34     0.94
242    0.70
225    0.61
255    0.79
333    0.71
105    0.69
275    0.78
322    0.72
121    0.94
287    0.89
177    0.82
357    0.68
300    0.62
254    0.85
148    0.96
118    0.47
38     0.52
40     0.46
325    0.81
119    0.71
355    0.73
62     0.54
10     0.52
126    0.85
Name: Chance of Admit , dtype: float64