# **Importing the Libraries**

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# **Loading the Dataset**

In [2]:
data=pd.read_csv('/content/Admission_Predict.csv')

# **Analyze the data**

In [3]:
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

# **Training and Testing the model**

In [4]:
x=data.drop(['Chance of Admit '],axis=1) 
y=data['Chance of Admit ']

In [5]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.15)

In [6]:
x_train

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
177,178,319,110,3,3.5,3.5,9.04,0
339,340,324,107,5,3.5,4.0,8.66,1
123,124,308,108,3,3.5,3.5,8.22,0
106,107,329,111,4,4.5,4.5,9.18,1
278,279,308,103,2,3.0,3.5,8.49,0
...,...,...,...,...,...,...,...,...
103,104,317,104,2,4.5,4.0,8.47,0
122,123,310,106,4,1.5,2.5,8.36,0
316,317,298,101,2,1.5,2.0,7.86,0
347,348,299,94,1,1.0,1.0,7.34,0
72,73,321,111,5,5.0,5.0,9.45,1

In [7]:
y_train

177    0.82
339    0.81
123    0.61
106    0.87
278    0.66
       ...
103    0.57
122    0.57
316    0.54
347    0.42
72     0.93
Name: Chance of Admit , Length: 340, dtype: float64

In [8]:
x_test

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
146,147,315,105,3,2.0,2.5,8.48,0
394,395,329,111,4,4.5,4.0,9.23,1
328,329,324,112,4,4.0,3.5,8.77,1
204,205,298,105,3,3.5,4.0,8.54,0
363,364,306,103,2,2.5,3.0,8.36,0
386,387,302,101,2,2.5,3.5,7.96,0
252,253,318,100,2,2.5,3.5,8.54,1
220,221,313,103,3,4.0,4.0,8.75,0
190,191,324,111,5,4.5,4.0,9.16,1
147,148,326,114,3,3.0,3.0,9.11,1
125,126,300,100,3,2.0,3.0,8.66,1
46,47,329,114,5,4.0,5.0,9.30,1
112,113,301,107,3,3.5,3.5,8.34,1
65,66,325,112,4,3.5,3.5,8.92,0
206,207,315,99,2,3.5,3.0,7.89,0
143,144,340,120,4,4.5,4.0,9.92,1
194,195,316,109,3,3.5,3.0,8.76,0
295,296,317,100,2,3.0,2.5,8.57,0
264,265,325,110,2,3.0,2.5,8.76,1
201,202,315,110,2,3.5,3.0,8.46,1
312,313,311,107,4,4.5,4.5,9.00,1
21,22,325,114,4,3.0,2.0,8.40,0
308,309,312,108,3,3.5,3.0,8.53,0
198,199,311,104,3,4.5,4.5,8.43,0
261,262,312,104,3,3.5,4.0,8.09,0
145,146,320,113,2,2.0,2.5,8.64,1
86,87,315,106,3,4.5,3.5,8.42,0
360,361,322,110,3,4.0,5.0,8.64,1
44,45,326,113,5,4.5,4.0,9.40,1
302,303,322,105,2,3.0,3.0,8.45,1
197,198,310,106,2,3.5,2.5,8.33,0
303,304,323,107,3,3.5,3.5,8.55,1
270,271,306,105,2,2.5,3.0,8.22,1
263,264,324,111,3,2.5,1.5,8.79,1
2,3,316,104,3,3.0,3.5,8.00,1
137,138,316,100,2,1.5,3.0,8.16,1
166,167,302,102,3,3.5,5.0,8.33,0
266,267,312,105,2,2.0,2.5,8.45,0
243,244,325,114,3,3.5,3.0,9.04,1
120,121,335,117,5,5.0,5.0,9.56,1
290,291,307,105,2,2.5,3.0,7.65,0
314,315,305,105,2,3.0,4.0,8.13,0
131,132,303,105,5,5.0,4.5,8.65,0
78,79,296,95,2,3.0,2.0,7.54,1
358,359,314,105,2,2.5,2.0,7.64,0
319,320,327,113,4,3.5,3.0,8.69,1
210,211,325,108,4,4.5,4.0,9.06,1
12,13,328,112,4,4.0,4.5,9.10,1
248,249,324,110,3,3.5,4.0,8.87,1
373,374,321,109,3,3.0,3.0,8.54,1
153,154,324,105,3,3.0,4.0,8.75,0
271,272,299,96,2,1.5,2.0,7.86,0
36,37,299,106,2,4.0,4.0,8.40,0
372,373,336,119,4,4.5,4.0,9.62,1
346,347,304,97,2,1.5,2.0,7.64,0
255,256,307,110,4,4.0,4.5,8.37,0
253,254,335,115,4,4.5,4.5,9.68,1
71,72,336,112,5,5.0,5.0,9.76,1
391,392,318,106,3,2.0,3.0,8.65,0
189,190,324,112,5,5.0,5.0,9.08,1

In [9]:
y_test

146    0.75
394    0.89
328    0.80
204    0.69
363    0.69
386    0.46
252    0.71
220    0.76
190    0.90
147    0.83
125    0.64
46     0.86
112    0.62
65     0.55
206    0.63
143    0.97
194    0.77
295    0.68
264    0.75
201    0.72
312    0.78
21     0.70
308    0.69
198    0.70
261    0.71
145    0.81
86     0.72
360    0.85
44     0.91
302    0.65
197    0.73
303    0.73
270    0.72
263    0.70
2      0.72
137    0.71
166    0.65
266    0.72
243    0.76
120    0.94
290    0.58
314    0.66
131    0.77
78     0.44
358    0.70
319    0.80
210    0.79
12     0.78
248    0.80
373    0.79
153    0.79
271    0.54
36     0.64
372    0.95
346    0.47
255    0.79
253    0.93
71     0.96
391    0.71
189    0.88
Name: Chance of Admit , dtype: float64

# **Model Evaluation**

In [10]:
from sklearn.ensemble import GradientBoostingRegressor
model = GradientBoostingRegressor()
model.fit(x_train,y_train)

GradientBoostingRegressor()

In [11]:
model.score(x_test,y_test)

0.8008298516760742

In [12]:
y_predict=model.predict(x_test)

In [13]:
from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_error
import numpy as np
print('Mean Absolute Error:', mean_absolute_error(y_test, y_predict))  
print('Mean Squared Error:', mean_squared_error(y_test, y_predict))  
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, y_predict)))

Mean Absolute Error: 0.03726905711290221
Mean Squared Error: 0.0027211289564509147
Root Mean Squared Error: 0.05216444149467063

In [14]:
y_train = (y_train>0.5)
y_test = (y_test>0.5)

In [15]:
from sklearn.linear_model._logistic import LogisticRegression

lore = LogisticRegression(random_state=0, max_iter=1000)

lr = lore.fit(x_train, y_train)

In [16]:
y_pred = lr.predict(x_test)

In [17]:
y_pred

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True])